azure-common
--extra-index-url https://azuremlsdktestpypi.azureedge.net/sdk-cli-v2
azure-ai-ml
mltable
azureml_dataprep
azureml_dataprep_rslex
jupyter
pandas
pyarrow
shap
responsibleai~=0.31.0
raiwidgets~=0.31.0
numpy<1.24.0
