azure-common
--extra-index-url https://azuremlsdktestpypi.azureedge.net/test-sdk-cli-v2
azure-ml
colorama # Pending update
jupyter
pandas
pyarrow
scikit-learn<1.1 # See PR #1429 in responsible-ai-toolbox repo
shap
